@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

#name {
  color: black;
}

.ruby, .java, .cnet {
  display: none;
  padding: 30px;
  background-color: #69656f;
  text-align: center;
  opacity: .50;
  color: white;
  margin: 50px;
}

body {
  background-color: #cebfc4;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Helvetica;
}

.jumbotron {
  text-align: center;
  background-color: #69656f;
  margin: 50px;
  opacity: .55;
  color: white;
  padding: 10px;
}

.question {
  padding: 10px;
}

.radio {
  font-size: 15px;
}

form {
  background-color: #69656f;
  text-align: center;
  opacity: .55;
  color: white;
  margin-bottom: 50px;
  padding: 20px;
}

a {
  color: black;
}
