@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

.ruby, .java, .cnet {
  display: none;
  padding: 30px;
  background-color: black;
  text-align: center;
  opacity: .50;
  color: white;
  margin: 100px;
}

body{
  background-color: white;);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Helvetica;
}
.jumbotron {
  text-align: center;
  background-color: black;
  margin: 50px;
  opacity: .55;
  color: white;
}

form {
  background-color: black;
  text-align: center;
  opacity: .55;
  color: white;
  margin-bottom: 50px;
  padding: 20px;
}

.question{
  padding: 10px;
}

.radio{
  font-size: 15px;
}

#name {
  color: black;
}
